RewriteEngine On

# Hide .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/.]+)$ $1.html [L]

# Folder index handling
DirectoryIndex index.html

# Remove index.html from URLs
RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.html[\s?] [NC]
RewriteRule ^(.*/)?index\.html$ /$1 [R=301,L]
